version: "3.9"


services:
  db:
    image: postgres:15
    container_name: todo-db
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: password@1111
      POSTGRES_DB: todo_db
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./backend/database/schema.sql:/docker-entrypoint-initdb.d/schema.sql
      


  backend:
    build: ./backend
    container_name: backend
    env_file:
      - ./backend/.env
    ports:
      - "5050:5050"
    depends_on:
      - db


  frontend:
    build:
      context: ./frontend
      args:
        VITE_API_URL=http://16.171.42.159/api
    container_name: frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  db_data: